{block content}
  <h1 n:block="title">
    {ifset $person}
      {$person->krestni_jmeno} {$person->prijmeni}
    {else}
      Nový účastník
    {/ifset}
    <span class="text-grey">| {$event->title}</span>
  </h1>
  {include backButton, "Zpět na výpis účastníků", "eventPersonsList", ["id" => $event->id]}
	{include $_customFormTemplate, formComponent => $formComponent, form => $form}
{/block}