{block title}Test page{/block}

{block content}
	{* <div class="form-group">
		<label>tiny basic</label>
		<textarea name="test" id="test-1" cols="30" rows="10" data-tinymce="basic"></textarea>
	</div> *}
	{* <div class="form-group">
		<label>tiny admin</label>
		<textarea name="test" id="test-2" cols="30" rows="10" data-tinymce="admin"></textarea>
	</div> *}
	<a n:href="test!" class="ajax btn btn-green" data-loader="this" data-naja-unique="off">Test1</a>
	<a n:href="test2!" class="ajax btn btn-lg btn-orange" data-loader="this" data-naja-unique="off">Test2</a>
	<a n:href="test3!" class="ajax btn btn-red">Test3</a>
	<a n:href="test4!" class="ajax btn btn-blue" data-loader="body" data-naja-unique="off" data-naja-force-redirectx>Test4</a>
{/block}