translation:
    dirs:
        - %appDir%/lang

parameters:
	appName: "GolfApp"
	golf:
		courses:
			refresh: Refresh
			golfista: Budu Golfista
	
router:
	homeRoute: "Admin:Dashboard:dashboard"
	routers:
		- App\Router\RouterFactory

contents:
	# allow: ["event"]
	event:
		exclude: ["short", "text", "heading", "image", "meta_keys", "meta_desc"]
		fields:
			lektor:
				title: Lektor
				type: text
			course:
				title: Kurz
				type: select
				options:
					refresh: Refresh
					golfista: Budu Golfista

services:
	GoflConfig: App\model\GolfConfig(%golf%)