{extends $_coreAdminLayout}

{block topPage}
    <div class="container">
        <a n:href=":Core:Admin:Contents:contentsList, type => event">Kurzy</a>
        <a n:href=":Core:Admin:Users:usersList">Uživatelé</a>
    </div>
{/block}