<input id="datetimepicker" type="text" >

<script>
	$(function() {
		$.datetimepicker.setLocale('cs');
		$('#datetimepicker').datetimepicker({
			timepicker:false,
			format:'d.m.Y'
		});
	});
</script>

{}