{* {var $filePickerLink = !isset($filePickerLink) ? $control->link(":Files:Admin:FilesList:filesList") : $filePickerLink} *}

<script>

	/*function tralala() {
		alert(1);
	}*/


	//$(document).ready(tinyInit);
	//$(document).ajaxComplete(tinyInit);


	/*function tinyInit() {
		tinymce.remove();
		$("textarea.tiny-basic").tinymce(tinyBasic);
	}*/
</script>