{block title}Profil{/block}

{block content}
	<a n:href=":Core:Front:User:userForm" class="btn btn-primary"><i class="fad fa-user"></i> Upravit profil</a>
	<a n:href=":Core:Front:Users:logout" class="btn btn-warning"><i class="fad fa-sign-out-alt"></i> Odhlásit</a>
{/block}