Dobrý den,<br><br>
potvrzujeme Vaši registraci na kurz Budu golfista v termínu <strong>{$title}</strong>. Jakmile se kurz naplní, zašleme Vám podrobnější informace, včetně postupu sjednání členství. V případě dotazů nás můžete kontaktovat na tel.: 724124818 nebo <a href='mailto:recepce@golfhostivar.cz'>recepce@golfhostivar.cz</a><br><br>S přáním příjemného dne<br>
Golf Hostivař

<br><br>
<img src="{$baseUrl}/src/logo.png"/ width='50'>