Dobrý den,<br><br>

potvrzujeme vaši registraci na kurz <strong>Refresh</strong> v termínu <strong>{$title}</strong>. Po naplnění kurzu vám zašleme další informace, včetně podkladů k platbě. V případě dotazů nebo pro odhlášení nás můžete kontaktovat na tel.: 724 124 818 nebo <a href='mailto:recepce@golfhostivar.cz'>recepce@golfhostivar.cz</a>.

<br><br>S přáním příjemného dne<br>
Golf Hostivař

<br><br>
<img src="{$baseUrl}/src/logo.jpg"/ width='100'>