{import $_blocks}

{form eventDateForm}
	<div class="row">
		<div class="form-group col-12 col-lg-6">
			{label start}
			{input start}
		</div>
		<div class="form-group col-12 col-lg-6">
			{label end}
			{input end}
		</div>
	</div>
	{include formButtons}
{/form}